
Multi-Page Poster_1.jpg

Multi-Page Poster_2.jpg

Multi-Page Poster_3.jpg

Multi-Page Poster_4.jpg

Screen shot 2010-06-05 at 10.15.03 AM.png

Senior_Project_Journal.doc

poster.pages

self evaluation.pages

senior project final proposal.pages

senior project proposal.doc
